<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >dev_inst</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|wb_inst</TD>
<TD >109</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|mem_inst|memu_inst</TD>
<TD >104</TD>
<TD >34</TD>
<TD >18</TD>
<TD >34</TD>
<TD >87</TD>
<TD >34</TD>
<TD >34</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|mem_inst</TD>
<TD >154</TD>
<TD >2</TD>
<TD >1</TD>
<TD >2</TD>
<TD >199</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|exec_inst|alu_inst_2</TD>
<TD >75</TD>
<TD >33</TD>
<TD >0</TD>
<TD >33</TD>
<TD >33</TD>
<TD >33</TD>
<TD >33</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|exec_inst|alu_inst_1</TD>
<TD >75</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|exec_inst</TD>
<TD >236</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >237</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|decode_inst|reg_inst</TD>
<TD >51</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|decode_inst</TD>
<TD >90</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >157</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|fetch_inst</TD>
<TD >54</TD>
<TD >37</TD>
<TD >0</TD>
<TD >37</TD>
<TD >101</TD>
<TD >37</TD>
<TD >37</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|ctrl_inst</TD>
<TD >133</TD>
<TD >3</TD>
<TD >114</TD>
<TD >3</TD>
<TD >11</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|fwd_inst_2</TD>
<TD >81</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst|fwd_inst_1</TD>
<TD >81</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst|pipeline_inst</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >104</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >core_inst</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >104</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pll_inst</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
